h1 {
  color: green
}

.square {
  width: 45%;
}

#color1 {
  background-color: #FF355E
}

#color2 {
  background-color: #50BFE6
}

#color3 {
  background-color: #FF00CC
}

#color4 {
  background-color: #FF9933
}
