h1 {
  color: #66FF66
}
/*this h1 text is showing up black, not as the neon green I am trying to use*/


.square {
  width: 45%;
}

#color1 {
  background-color: #FF355E;
  opacity: 0.5;


}

#color2 {
  background-color: #50BFE6;
  opacity: 0.7;
  height: 100px
}

#color3 {
  background-color: #FF00CC;
  opacity: 0.9;
  height: 100px
}

#color4 {
  background-color: #FF9933;
  height: 100px
}
