h1 {
  color: #66FF66
}
/*this h1 text is showing up black, not as the neon green I am trying to use*/

.square {
  width: 45%;
}

#color1 {
  background-color: #FF355E;
  opacity: 0.5;
  text-decoration-color: #66FF66

}

#color2 {
  background-color: #50BFE6;
  opacity: 0.7;
  text-decoration-color: #66FF66

}

#color3 {
  background-color: #FF00CC;
  opacity: 0.9;
  text-decoration-color: #66FF66
}

#color4 {
  background-color: #FF9933;
  text-decoration-color: #66FF66
}
