/* Page-Wide */
body {
  background-color: rgb(147, 12, 76);
  color: white;
  padding: 5px;
  font-family: 'Merriwweather', serif;
}

/* Paragraph Content */
.text {
  background-color: #FFFFFF;
  color: rgb(147, 12, 76);
  padding: 5px;

  line-height: 2em;
}
p::first-letter {
  font-family: 'Meddon', cursive;
  font-size: 3em;
  font-weight: 700;
  color: rgb(11, 44, 126)
  
}

/* "Read More!" Link */
